@model StudentTeacher.Models.Grading

@{
    ViewData["Title"] = "Details";

    //get variables out of viewbag
    var SectionAtoD = ViewBag.SectionAtoD;
    var SectionE = ViewBag.SectionE;
    var Intro = ViewBag.Intro;
    var Teaching = ViewBag.Teaching;
    var Closure = ViewBag.Closure;
    var Assessment = ViewBag.Assessment;
    var Presence = ViewBag.Presence;
    var Environment = ViewBag.Environment;

    List<Commentary> comments = ViewBag.Comments;
}

<label class="h1">Grading Details</label>
<a style="float: right;" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Number">
    <i class="bi bi-pencil-square"></i> Edit Grading
</a>
<br />
<table>
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Year of Study
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Date.ToShortDateString()
            </td>
            <td>
                Year @Model.YearOfStudy
            </td>
        </tr>
    </tbody>
</table>
<br />
<table>
    <thead>
        <tr>
            <th>
                Teacher
            </th>
            <th>
                Student
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.TeacherNavigation.FirstName.Substring(0, 1) @Model.TeacherNavigation.LastName
            </td>
            <td>
                @Model.StudentNavigation.FirstName @Model.StudentNavigation.LastName | @Model.Student
            </td>
        </tr>
    </tbody>
</table>
<br />
<table>
    <thead>
        <tr>
            <th>
                Grade & Subject
            </th>
            <th>
                Topic
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Grade @Model.Grade : @Model.Subject
            </td>
            <td>
                @Model.Topic
            </td>
        </tr>
    </tbody>
</table>
<br />
<h2 class="h2">Mark Allocation</h2>
<hr />
<div class="card" id="SectionA">
    <div class="card-body">
        <label class="h3">SECTION A: LESSON PLANNING</label>
        <label class="h4" style="float: right;">Section: @(SectionAtoD + SectionE) / 20</label>
    </div>
    <hr />
    <div class="card-body" id="SectionAtoD">
        <label class="h5">Sections A to D (of lesson plan)</label>
        <label class="h6" style="float: right;">@(SectionAtoD) / 10</label>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="Arating10" name="Arating" value="10" disabled checked="@(SectionAtoD == 10)" />
                <label for="Arating10" title="5 stars"></label>
                <input type="radio" id="Arating9" name="Arating" value="9" disabled checked="@(SectionAtoD == 9)" />
                <label class="half" for="Arating9" title="4 1/2 stars"></label>
                <input type="radio" id="Arating8" name="Arating" value="8" disabled checked="@(SectionAtoD == 8)" />
                <label for="Arating8" title="4 stars"></label>
                <input type="radio" id="Arating7" name="Arating" value="7" disabled checked="@(SectionAtoD == 7)" />
                <label class="half" for="Arating7" title="3 1/2 stars"></label>
                <input type="radio" id="Arating6" name="Arating" value="6" disabled checked="@(SectionAtoD == 6)" />
                <label for="Arating6" title="3 stars"></label>
                <input type="radio" id="Arating5" name="Arating" value="5" disabled checked="@(SectionAtoD == 5)" />
                <label class="half" for="Arating5" title="2 1/2 stars"></label>
                <input type="radio" id="Arating4" name="Arating" value="4" disabled checked="@(SectionAtoD == 4)" />
                <label for="Arating4" title="2 stars"></label>
                <input type="radio" id="Arating3" name="Arating" value="3" disabled checked="@(SectionAtoD == 3)" />
                <label class="half" for="Arating3" title="1 1/2 stars"></label>
                <input type="radio" id="Arating2" name="Arating" value="2" disabled checked="@(SectionAtoD == 2)" />
                <label for="Arating2" title="1 star"></label>
                <input type="radio" id="Arating1" name="Arating" value="1" disabled checked="@(SectionAtoD == 1)" />
                <label class="half" for="Arating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <h6>Comments:</h6>
        <p>
            @Model.Commentaries.Where(x => x.Criteria == "SectionAtoD").SingleOrDefault().Comment.Trim()
        </p>
    </div>
    <hr />
    <div class="card-body" id="SectionE">
        <label class="h5">Section E (of lesson plan)</label>
        <label class="h6" style="float: right;">@(SectionE) / 10</label>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="Erating10" name="Erating" value="10" disabled checked="@(SectionE == 10)" />
                <label for="Erating10" title="5 stars"></label>
                <input type="radio" id="Erating9" name="Erating" value="9" disabled checked="@(SectionE == 9)" />
                <label class="half" for="Erating9" title="4 1/2 stars"></label>
                <input type="radio" id="Erating8" name="Erating" value="8" disabled checked="@(SectionE == 8)" />
                <label for="Erating8" title="4 stars"></label>
                <input type="radio" id="Erating7" name="Erating" value="7" disabled checked="@(SectionE == 7)" />
                <label class="half" for="Erating7" title="3 1/2 stars"></label>
                <input type="radio" id="Erating6" name="Erating" value="6" disabled checked="@(SectionE == 6)" />
                <label for="Erating6" title="3 stars"></label>
                <input type="radio" id="Erating5" name="Erating" value="5" disabled checked="@(SectionE == 5)" />
                <label class="half" for="Erating5" title="2 1/2 stars"></label>
                <input type="radio" id="Erating4" name="Erating" value="4" disabled checked="@(SectionE == 4)" />
                <label for="Erating4" title="2 stars"></label>
                <input type="radio" id="Erating3" name="Erating" value="3" disabled checked="@(SectionE == 3)" />
                <label class="half" for="Erating3" title="1 1/2 stars"></label>
                <input type="radio" id="Erating2" name="Erating" value="2" disabled checked="@(SectionE == 2)" />
                <label for="Erating2" title="1 star"></label>
                <input type="radio" id="Erating1" name="Erating" value="1" disabled checked="@(SectionE == 1)" />
                <label class="half" for="Erating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <h6>Comments:</h6>
        <p>
            @Model.Commentaries.Where(x => x.Criteria == "SectionE").SingleOrDefault().Comment.Trim()
        </p>
    </div>
</div>
<br />
<div class="card" id="SectionB">
    <div class="card-body">
        <label class="h3">SECTION B: EXECUTION OF LESSON AS PER THE LESSON PLAN</label>
        <label class="h4" style="float: right;">Section: @(Intro + Teaching + Closure + Assessment) / 40</label>
    </div>
    <hr />
    <div class="card-body" id="Intro">
        <label class="h5">Introductory Phase</label>
        <label class="h6" style="float: right;">@(Intro) / 10</label>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="INTROrating10" name="INTROrating" value="10" disabled checked="@(Intro == 10)" />
                <label for="INTROrating10" title="5 stars"></label>
                <input type="radio" id="INTROrating9" name="INTROrating" value="9" disabled checked="@(Intro == 9)" />
                <label class="half" for="INTROrating9" title="4 1/2 stars"></label>
                <input type="radio" id="INTROrating8" name="INTROrating" value="8" disabled checked="@(Intro == 8)" />
                <label for="INTROrating8" title="4 stars"></label>
                <input type="radio" id="INTROrating7" name="INTROrating" value="7" disabled checked="@(Intro == 7)" />
                <label class="half" for="INTROrating7" title="3 1/2 stars"></label>
                <input type="radio" id="INTROrating6" name="INTROrating" value="6" disabled checked="@(Intro == 6)" />
                <label for="INTROrating6" title="3 stars"></label>
                <input type="radio" id="INTROrating5" name="INTROrating" value="5" disabled checked="@(Intro == 5)" />
                <label class="half" for="INTROrating5" title="2 1/2 stars"></label>
                <input type="radio" id="INTROrating4" name="INTROrating" value="4" disabled checked="@(Intro == 4)" />
                <label for="INTROrating4" title="2 stars"></label>
                <input type="radio" id="INTROrating3" name="INTROrating" value="3" disabled checked="@(Intro == 3)" />
                <label class="half" for="INTROrating3" title="1 1/2 stars"></label>
                <input type="radio" id="INTROrating2" name="INTROrating" value="2" disabled checked="@(Intro == 2)" />
                <label for="INTROrating2" title="1 star"></label>
                <input type="radio" id="INTROrating1" name="INTROrating" value="1" disabled checked="@(Intro == 1)" />
                <label class="half" for="INTROrating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <h6>Comments:</h6>
        <p>
            @Model.Commentaries.Where(x => x.Criteria == "Intro").SingleOrDefault().Comment.Trim()
        </p>
    </div>
    <hr />
    <div class="card-body" id="Teaching">
        <label class="h5">Teaching and Learning Phase</label>
        <label class="h6" style="float: right;">@(Teaching) / 10</label>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="EXErating10" name="EXErating" value="10" disabled checked="@(Teaching == 10)" />
                <label for="EXErating10" title="5 stars"></label>
                <input type="radio" id="EXErating9" name="EXErating" value="9" disabled checked="@(Teaching == 9)" />
                <label class="half" for="EXErating9" title="4 1/2 stars"></label>
                <input type="radio" id="EXErating8" name="EXErating" value="8" disabled checked="@(Teaching == 8)" />
                <label for="EXErating8" title="4 stars"></label>
                <input type="radio" id="EXErating7" name="EXErating" value="7" disabled checked="@(Teaching == 7)" />
                <label class="half" for="EXErating7" title="3 1/2 stars"></label>
                <input type="radio" id="EXErating6" name="EXErating" value="6" disabled checked="@(Teaching == 6)" />
                <label for="EXErating6" title="3 stars"></label>
                <input type="radio" id="EXErating5" name="EXErating" value="5" disabled checked="@(Teaching == 5)" />
                <label class="half" for="EXErating5" title="2 1/2 stars"></label>
                <input type="radio" id="EXErating4" name="EXErating" value="4" disabled checked="@(Teaching == 4)" />
                <label for="EXErating4" title="2 stars"></label>
                <input type="radio" id="EXErating3" name="EXErating" value="3" disabled checked="@(Teaching == 3)" />
                <label class="half" for="EXErating3" title="1 1/2 stars"></label>
                <input type="radio" id="EXErating2" name="EXErating" value="2" disabled checked="@(Teaching == 2)" />
                <label for="EXErating2" title="1 star"></label>
                <input type="radio" id="EXErating1" name="EXErating" value="1" disabled checked="@(Teaching == 1)" />
                <label class="half" for="EXErating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <h6>Comments:</h6>
        <p>
            @Model.Commentaries.Where(x => x.Criteria == "Teaching").SingleOrDefault().Comment.Trim()
        </p>
    </div>
    <hr />
    <div class="card-body" id="Closure">
        <label class="h5">Closure Phase</label>
        <label class="h6" style="float: right;">@(Closure) / 10</label>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="CLOSURErating10" name="CLOSURErating" value="10" disabled checked="@(Closure == 10)" />
                <label for="CLOSURErating10" title="5 stars"></label>
                <input type="radio" id="CLOSURErating9" name="CLOSURErating" value="9" disabled checked="@(Closure == 9)" />
                <label class="half" for="CLOSURErating9" title="4 1/2 stars"></label>
                <input type="radio" id="CLOSURErating8" name="CLOSURErating" value="8" disabled checked="@(Closure == 8)" />
                <label for="CLOSURErating8" title="4 stars"></label>
                <input type="radio" id="CLOSURErating7" name="CLOSURErating" value="7" disabled checked="@(Closure == 7)" />
                <label class="half" for="CLOSURErating7" title="3 1/2 stars"></label>
                <input type="radio" id="CLOSURErating6" name="CLOSURErating" value="6" disabled checked="@(Closure == 6)" />
                <label for="CLOSURErating6" title="3 stars"></label>
                <input type="radio" id="CLOSURErating5" name="CLOSURErating" value="5" disabled checked="@(Closure == 5)" />
                <label class="half" for="CLOSURErating5" title="2 1/2 stars"></label>
                <input type="radio" id="CLOSURErating4" name="CLOSURErating" value="4" disabled checked="@(Closure == 4)" />
                <label for="CLOSURErating4" title="2 stars"></label>
                <input type="radio" id="CLOSURErating3" name="CLOSURErating" value="3" disabled checked="@(Closure == 3)" />
                <label class="half" for="CLOSURErating3" title="1 1/2 stars"></label>
                <input type="radio" id="CLOSURErating2" name="CLOSURErating" value="2" disabled checked="@(Closure == 2)" />
                <label for="CLOSURErating2" title="1 star"></label>
                <input type="radio" id="CLOSURErating1" name="CLOSURErating" value="1" disabled checked="@(Closure == 1)" />
                <label class="half" for="CLOSURErating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <h6>Comments:</h6>
        <p>
            @Model.Commentaries.Where(x => x.Criteria == "Closure").SingleOrDefault().Comment.Trim()
        </p>
    </div>
    <hr />
    <div class="card-body" id="Assessment">
        <label class="h5">Assessment</label>
        <label class="h6" style="float: right;">@(Assessment) / 10</label>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="ASSESSMENTrating10" name="ASSESSMENTrating" value="10" disabled checked="@(Assessment == 10)" />
                <label for="ASSESSMENTrating10" title="5 stars"></label>
                <input type="radio" id="ASSESSMENTrating9" name="ASSESSMENTrating" value="9" disabled checked="@(Assessment == 9)" />
                <label class="half" for="ASSESSMENTrating9" title="4 1/2 stars"></label>
                <input type="radio" id="ASSESSMENTrating8" name="ASSESSMENTrating" value="8" disabled checked="@(Assessment == 8)" />
                <label for="ASSESSMENTrating8" title="4 stars"></label>
                <input type="radio" id="ASSESSMENTrating7" name="ASSESSMENTrating" value="7" disabled checked="@(Assessment == 7)" />
                <label class="half" for="ASSESSMENTrating7" title="3 1/2 stars"></label>
                <input type="radio" id="ASSESSMENTrating6" name="ASSESSMENTrating" value="6" disabled checked="@(Assessment == 6)" />
                <label for="ASSESSMENTrating6" title="3 stars"></label>
                <input type="radio" id="ASSESSMENTrating5" name="ASSESSMENTrating" value="5" disabled checked="@(Assessment == 5)" />
                <label class="half" for="ASSESSMENTrating5" title="2 1/2 stars"></label>
                <input type="radio" id="ASSESSMENTrating4" name="ASSESSMENTrating" value="4" disabled checked="@(Assessment == 4)" />
                <label for="ASSESSMENTrating4" title="2 stars"></label>
                <input type="radio" id="ASSESSMENTrating3" name="ASSESSMENTrating" value="3" disabled checked="@(Assessment == 3)" />
                <label class="half" for="ASSESSMENTrating3" title="1 1/2 stars"></label>
                <input type="radio" id="ASSESSMENTrating2" name="ASSESSMENTrating" value="2" disabled checked="@(Assessment == 2)" />
                <label for="ASSESSMENTrating2" title="1 star"></label>
                <input type="radio" id="ASSESSMENTrating1" name="ASSESSMENTrating" value="1" disabled checked="@(Assessment == 1)" />
                <label class="half" for="ASSESSMENTrating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <h6>Comments:</h6>
        <p>
            @Model.Commentaries.Where(x => x.Criteria == "Assessment").SingleOrDefault().Comment.Trim()
        </p>
    </div>
</div>
<br />
<div class="card" id="SectionC">
    <div class="card-body">
        <label class="h3">SECTION C: OVERALL SENSE OF THE LESSON</label>
        <label class="h4" style="float: right;">Section: @(Presence + Environment) / 20</label>
    </div>
    <hr />
    <div class="card-body" id="Presence">
        <label class="h5">Classroom Presence</label>
        <label class="h6" style="float: right;">@(Presence) / 10</label>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="PRESENCErating10" name="PRESENCErating" value="10" disabled checked="@(Presence == 10)" />
                <label for="PRESENCErating10" title="5 stars"></label>
                <input type="radio" id="PRESENCErating9" name="PRESENCErating" value="9" disabled checked="@(Presence == 9)" />
                <label class="half" for="PRESENCErating9" title="4 1/2 stars"></label>
                <input type="radio" id="PRESENCErating8" name="PRESENCErating" value="8" disabled checked="@(Presence == 8)" />
                <label for="PRESENCErating8" title="4 stars"></label>
                <input type="radio" id="PRESENCErating7" name="PRESENCErating" value="7" disabled checked="@(Presence == 7)" />
                <label class="half" for="PRESENCErating7" title="3 1/2 stars"></label>
                <input type="radio" id="PRESENCErating6" name="PRESENCErating" value="6" disabled checked="@(Presence == 6)" />
                <label for="PRESENCErating6" title="3 stars"></label>
                <input type="radio" id="PRESENCErating5" name="PRESENCErating" value="5" disabled checked="@(Presence == 5)" />
                <label class="half" for="PRESENCErating5" title="2 1/2 stars"></label>
                <input type="radio" id="PRESENCErating4" name="PRESENCErating" value="4" disabled checked="@(Presence == 4)" />
                <label for="PRESENCErating4" title="2 stars"></label>
                <input type="radio" id="PRESENCErating3" name="PRESENCErating" value="3" disabled checked="@(Presence == 3)" />
                <label class="half" for="PRESENCErating3" title="1 1/2 stars"></label>
                <input type="radio" id="PRESENCErating2" name="PRESENCErating" value="2" disabled checked="@(Presence == 2)" />
                <label for="PRESENCErating2" title="1 star"></label>
                <input type="radio" id="PRESENCErating1" name="PRESENCErating" value="1" disabled checked="@(Presence == 1)" />
                <label class="half" for="PRESENCErating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <h6>Comments:</h6>
        <p>
            @Model.Commentaries.Where(x => x.Criteria == "Presence").SingleOrDefault().Comment.Trim()
        </p>
    </div>
    <hr />
    <div class="card-body" id="Environment">
        <label class="h5">Learning Environment</label>
        <label class="h6" style="float: right;">@(Environment) / 10</label>
        <br />
        <div class="rate">
            <fieldset class="rate">
                <input type="radio" id="ENVIRONMENTrating10" name="ENVIRONMENTrating" value="10" disabled checked="@(Environment == 10)" />
                <label for="ENVIRONMENTrating10" title="5 stars"></label>
                <input type="radio" id="ENVIRONMENTrating9" name="ENVIRONMENTrating" value="9" disabled checked="@(Environment == 9)" />
                <label class="half" for="ENVIRONMENTrating9" title="4 1/2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating8" name="ENVIRONMENTrating" value="8" disabled checked="@(Environment == 8)" />
                <label for="ENVIRONMENTrating8" title="4 stars"></label>
                <input type="radio" id="ENVIRONMENTrating7" name="ENVIRONMENTrating" value="7" disabled checked="@(Environment == 7)" />
                <label class="half" for="ENVIRONMENTrating7" title="3 1/2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating6" name="ENVIRONMENTrating" value="6" disabled checked="@(Environment == 6)" />
                <label for="ENVIRONMENTrating6" title="3 stars"></label>
                <input type="radio" id="ENVIRONMENTrating5" name="ENVIRONMENTrating" value="5" disabled checked="@(Environment == 5)" />
                <label class="half" for="ENVIRONMENTrating5" title="2 1/2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating4" name="ENVIRONMENTrating" value="4" disabled checked="@(Environment == 4)" />
                <label for="ENVIRONMENTrating4" title="2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating3" name="ENVIRONMENTrating" value="3" disabled checked="@(Environment == 3)" />
                <label class="half" for="ENVIRONMENTrating3" title="1 1/2 stars"></label>
                <input type="radio" id="ENVIRONMENTrating2" name="ENVIRONMENTrating" value="2" disabled checked="@(Environment == 2)" />
                <label for="ENVIRONMENTrating2" title="1 star"></label>
                <input type="radio" id="ENVIRONMENTrating1" name="ENVIRONMENTrating" value="1" disabled checked="@(Environment == 1)" />
                <label class="half" for="ENVIRONMENTrating1" title="1/2 star"></label>
            </fieldset>
        </div>
        <br />
        <h6>Comments:</h6>
        <p>
            @Model.Commentaries.Where(x => x.Criteria == "Environment").SingleOrDefault().Comment.Trim()
        </p>
    </div>
</div>
<style>
    main {
        width: 100% !important;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
    }

        table thead tr {
            background-color: #084E62;
        }

        table th {
            padding: 1%;
            color: white;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
            background-color: #E9E9E9;
        }

        table tbody td {
            width: 25%;
            padding: 1%;
            color: black;
        }
</style>

@*Star Rating CSS: https://codepen.io/hesguru/pen/BaybqXv*@
<style>
    /* Base setup */
    @@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


    /* Ratings widget */
    .rate {
        display: inline-block;
        border: 0;
    }
        /* Hide radio */
        .rate > input {
            display: none;
        }
        /* Order correctly by floating highest to the right */
        .rate > label {
            float: right;
        }
            /* The star of the show */
            .rate > label:before {
                display: inline-block;
                font-size: 2rem;
                padding: .3rem .2rem;
                margin: 0;
                cursor: pointer;
                font-family: FontAwesome;
                content: "\f005 "; /* full star */
            }

        /* Half star trick */
        .rate .half:before {
            content: "\f089 "; /* half star no outline */
            position: absolute;
            padding-right: 0;
        }

    /* Click + hover color */
    input:checked ~ label /* color current and previous stars on checked */{
        color: gold;
    }
</style>
