@model IEnumerable<StudentTeacher.Models.Grading>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNavigation.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherNavigation.Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Number">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Number">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Number">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
