@model StudentTeacher.Models.School

@{
    ViewData["Title"] = "Details";
    List<Student> students = ViewBag.StudentList;
    List<Grading> gradings = ViewBag.GradingList;

}

@*Main Content*@
<div>
    <label class="h1">School Details: @Model.Name</label>
    <a style="float: right;" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Code">
        <i class="bi bi-pencil-square"></i> Edit Details
    </a>
    <br />
    <table id="tblName">
        <thead>
            <tr>
                <th>
                    School Name
                </th>
                <th>
                    School Code
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Code
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table id="tblNumber">
        <thead>
            <tr>
                <th>
                    Related Campus
                </th>
                <th>
                    Quintile
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Campus
                </td>
                <td>
                    @Model.Quintile
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <hr />
    <br />

    <label class="h1">Students</label>
    <table id="tblStudentsInSchool">
        <thead>
            <tr>
                <th>
                    Student Number
                </th>
                <th>
                    Name
                </th>
                <th>
                    Qaulification
                </th>
                <th>
                    Year of study
                </th>
                <th>
                    Campus
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var student in @students)
            {
                <tr>
                    <td>
                        @student.Number
                    </td>
                    <td>
                        @student.FirstName @student.LastName
                    </td>
                    <td>
                        @student.Qualification
                    </td>
                    <td>
                        @student.YearOfStudy
                    </td>
                    <td>
                        @student.Campus
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <hr />
    <br />

    <label class="h1">Gradings</label>
    <table id="tblGradingsAtSchool">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Student
                </th>
                <th>
                    Teacher
                </th>
                <th>
                    Year of Study
                </th>
                <th>
                    Subject
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var grading in @gradings)
            {
                <tr>
                    <td>
                        @grading.Date
                    </td>
                    <td>
                        @grading.Student
                    </td>
                    <td>
                        @grading.Teacher
                    </td>
                    <td>
                        @grading.YearOfStudy
                    </td>
                    <td>
                        @grading.Subject
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>


<style>
    main {
        width: 100% !important;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
    }

    tbl-content {
        overflow-x: auto;
    }

    #tblName th, #tblName td {
        width: 50%;
    }

    #tblNumber th, #tblNumber td {
        width: 50%;
    }

    #tblModules th, #tblModules td {
        width: 30%;
    }

    #tblGradings th, #tblGradings td {
        width: 20%;
    }

    #tblStudentsInSchool th, #tblStudentsInSchool td {
        width: 20%;
    }

    #tblGradingsAtSchool th, #tblGradingsAtSchool td {
        width: 20%;
    }

    table {
        width: 100%;
    }

        table thead tr {
            background-color: #084E62;
        }

        table th {
            padding: 1%;
            color: white;
        }



        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
            background-color: #E9E9E9;
        }

        table tbody td {
            width: 25%;
            padding: 1%;
            color: black;
        }
</style>

