@model IEnumerable<StudentTeacher.Models.Campus>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Campusses
    <a asp-action="Create" style="float: right;" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Campus</a>
</h1>

<div id="DivCampusses" class="table-responsive">
    <table id="campusTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Province)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Code" style="float: right; width: 100px;" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a id="btnDetails" asp-action="Details" asp-route-id="@item.Code" style="float: right; width: 100px; margin-right: 5px;" class="btn btn-primary"><i class="bi bi-info-circle"></i> Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    main {
        width: 100% !important;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    /*Scrollable Tables - START*/
    .table-responsive {
        height: auto;
        max-height: 75vh;
        overflow-y: scroll auto;
    }

    thead tr:nth-child(1) th {
        background: #084E62;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    /*Scrollable Tables - END*/

    table {
        width: 100%;
    }

    #tblName th, #tblName td {
        width: 50%;
    }

    #tblNumber th, #tblNumber td {
        width: 50%;
    }

    #tblModules th, #tblModules td {
        width: 30%;
    }

    #tblGradings th, #tblGradings td {
        width: 20%;
    }

    table {
        width: 100%;
    }

        table thead tr {
            background-color: #084E62;
        }

        table th {
            padding: 1%;
            color: white;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
            background-color: #E9E9E9;
        }

        table tbody td {
            width: 25%;
            padding: 1%;
            color: black;
        }


    /*Responive design*/

    @@media only screen and (max-width:1024px) {
        #btnDetails {
            margin-right: 2px !important;
        }
    }



    @@media only screen and (max-width:768px) {
        #btnDetails {
            margin-right: 0px !important;
            margin-top: 5px !important;
        }

        #DivCampusses table th {
            min-width: 20vw !important;
        }
    }

    @@media only screen and (max-width:425px) {
        #DivCampusses table th {
            min-width: 40vw !important;
        }
    }

    @@media only screen and (max-width:320px) {
        #DivCampusses table th {
            min-width: 40vw !important;
        }
        a {
            width: 100px;
        }
        #DivCampusses {
            margin-top: 50px;
        }
    }
</style>