@model StudentTeacher.Models.Student

@{
    ViewData["Title"] = "Student Details";
    //Email to use in table
    string email = Model.Number + "@vcconnect.edu.za";
    //List of Modules for Student
    List<Module> modules = ViewBag.Modules;
    List<Module> unassignedModules = ViewBag.CanAssignModules;
}

@*Main Content*@
<div>
    <label class="h1">Student Details: @Model.FirstName @Model.LastName</label>
    <a style="float: right;" class="btn btn-primary">
        <i class="bi bi-pencil-square"></i> Edit Details
    </a>
    <br />
    <table id="tblName">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.FirstName
                </td>
                <td>
                    @Model.LastName
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table id="tblNumber">
        <thead>
            <tr>
                <th>
                    Student Number
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Number
                </td>
                <td>
                    <a href="mailto:@email">@email</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <hr />
    <br />
    <label class="h1">Modules</label>
    <button class="btn btn-primary" style="float: right" data-bs-toggle="modal" data-bs-target="#AM_Modal">Assign new Module</button>
    <br />
    <table id="tblModules">
        <thead>
            <tr>
                <th>
                    Module Code
                </th>
                <th>
                    Module Name
                </th>
                <th style="text-align: center">
                    Module Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in modules)
            {
                <tr>
                    <td>
                        @item.Number
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td style="text-align: center">
                        <a class="btn btn-success" asp-controller="Modules" asp-action="Details" asp-route-id="@item.Number">
                            <i class="bi bi-info-circle"></i> Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <hr />
    <br />
    <label class="h1">Gradings</label>
    <br />
    <table id="tblGradings">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Module
                </th>
                <th>
                    Mark
                </th>
                <th>
                    Status
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    29 September 2022
                </td>
                <td>
                    PROG6312
                </td>
                <td>
                    50 / 80
                </td>
                <td>
                    DRAFT
                </td>
                <td style="text-align: center">
                    <a class="btn btn-success">
                        <i class="bi bi-info-circle"></i> Details
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <br />
</div>



@*Assign Module Model*@
<div class="modal fade" id="AM_Modal" tabindex="-1" aria-labelledby="Assign Module" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AM_Label">Assign Module</h4>
                <button style="background-color: white;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="StudentModules" asp-action="Assign">
                <div class="modal-body">
                    <input name="StudentNumber" value="@Model.Number" hidden required />
                    <select class="select2" id="selectModules" name="SelectedModule">
                        @foreach (var item in unassignedModules)
                        {
                            <option value="@item.Number">@item.Number</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Buy Goods</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    main {
        width: 100% !important;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
    }

    #tblName th, #tblName td {
        width: 50%;
    }

    #tblNumber th, #tblNumber td {
        width: 50%;
    }

    #tblModules th, #tblModules td {
        width: 30%;
    }

    #tblGradings th, #tblGradings td {
        width: 20%;
    }

    table {
        width: 100%;
    }

        table thead tr {
            background-color: #084E62;
        }

        table th {
            padding: 1%;
            color: white;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
            background-color: #E9E9E9;
        }

        table tbody td {
            width: 25%;
            padding: 1%;
            color: black;
        }
</style>


@*Getting Select Search Working*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.select2').each(function () {
                $(this).select2({
                    theme: "bootstrap-5",
                    width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                    placeholder: $(this).data('placeholder'),
                    dropdownParent: $(this).parent(),
                });
            });
        });
    </script>
}