@model StudentTeacher.Models.Student

@{
    ViewData["Title"] = "Student Details";
    //Email to use in table
    string email = Model.Number + "@vcconnect.edu.za";
    //List of Modules for Student
    List<Module> modules = ViewBag.Modules;
}

<div>
    <label class="h1">Student Details: @Model.FirstName @Model.LastName</label>
    <a style="float: right;" class="btn btn-primary">
        <i class="bi bi-pencil-square"></i> Edit Details
    </a>
    <br />
    <table id="tblName">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.FirstName
                </td>
                <td>
                    @Model.LastName
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table id="tblNumber">
        <thead>
            <tr>
                <th>
                    Student Number
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Number
                </td>
                <td>
                    <a href="mailto:@email">@email</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <hr />
    <br />
    <label class="h1">Modules</label>
    <a class="btn btn-primary" style="float: right">Assign new Module</a>
    <br />
    <table id="tblModules">
        <thead>
            <tr>
                <th>
                    Module Code
                </th>
                <th>
                    Module Name
                </th>
                <th>
                    Module Lecturer
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in modules)
            {
                <tr>
                    <td>
                        @item.Number
                    </td>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <hr />
    <br />
    <label class="h1">Gradings</label>
    <br />
    <table id="tblGradings">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Module
                </th>
                <th>
                    Mark
                </th>
                <th>
                    Status
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    29 September 2022
                </td>
                <td>
                    PROG6312
                </td>
                <td>
                    50 / 80
                </td>
                <td>
                    DRAFT
                </td>
                <td style="text-align: center">
                    <a class="btn btn-success">
                        <i class="bi bi-info-circle"></i> Details
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <br />
</div>

<style>
    main {
        width: 100% !important;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
    }

    #tblName th, #tblName td {
        width: 50%;
    }

    #tblNumber th, #tblNumber td {
        width: 50%;
    }

    #tblModules th, #tblModules td {
        width: 30%;
    }

    #tblGradings th, #tblGradings td {
        width: 20%;
    }

    table {
        width: 100%;
    }

        table thead tr {
            background-color: #084E62;
        }

        table th {
            padding: 1%;
            color: white;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
            background-color: #E9E9E9;
        }

        table tbody td {
            width: 25%;
            padding: 1%;
            color: black;
        }
</style>