@model StudentTeacher.Models.Student

@{
    ViewData["Title"] = "Student Details";
    //Email to use in table
    string email = Model.Number + "@vcconnect.edu.za";
    #region Unused Modules Code
    //List of Modules for Student
    //List<Module> modules = ViewBag.Modules;
    //List<Module> unassignedModules = ViewBag.CanAssignModules;
    #endregion

    //Get Role Session
    String _role = Accessor.HttpContext.Session.GetString("_role");


    //Set Session Variables for Adding Grading
    Accessor.HttpContext.Session.SetString("_studentNumber", Model.Number);

    var YearSelected = Accessor.HttpContext.Request.Query["year"];
    int year = int.Parse(YearSelected);

    School school = ViewBag.School;

    List<Grading> gradings = ViewBag.Gradings;
    List<string> teachers = ViewBag.Teachers;
    List<Subject> subjects = ViewBag.Subjects;
    List<int> totals = ViewBag.MarksTotals;

    //Var to stop Year dropdown count
    bool FoundCurrent = false;
}

@*Main Content*@

<label class="h1">Student Details: @Model.FirstName @Model.LastName</label>
<div id="div1" class="table-responsive">
    <a id="btnEdit" style="float: right;" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Number">
        <i class="bi bi-pencil-square"></i> Edit Details
    </a>
    <br />
    <table id="tblName">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.FirstName
                </td>
                <td>
                    @Model.LastName
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table id="tblNumber">
        <thead>
            <tr>
                <th>
                    Student Number
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Number
                </td>
                <td>
                    <a href="mailto:@email">@email</a>
                </td>
            </tr>
        </tbody>
    </table>

    <br />
    <hr />
    <br />
</div>

<label class="h1">Education Status</label>
<div id="div2" style="float: right !important; width: 30% !important;" class="input-group mb-3" class="table-responsive">
    <label class="input-group-text" for="YearOfStudy">Year of Study: </label>
    <select name="YearOfStudy" id="YearOfStudy" class="form-select" onchange="YearSelected()">
        @if (!FoundCurrent)
            @if (YearSelected == "1")
            {
                <option value="1" selected>
                    1st Year @if (Model.YearOfStudy == 1)
                    {
                        <label>(Current)</label>
                        FoundCurrent = true;
                    }
                </option>
            }
            else
            {
                <option value="1">
                    1st Year @if (Model.YearOfStudy == 1)
                    {
                        <label>(Current)</label>
                        FoundCurrent = true;
                    }
                </option>
            }

        @if (!FoundCurrent)
            @if (YearSelected == "2")
            {
                <option value="2" selected>
                    2nd Year @if (Model.YearOfStudy == 2)
                    {
                        <label>(Current)</label>
                        FoundCurrent = true;
                    }
                </option>
            }
            else
            {
                <option value="2">
                    2nd Year @if (Model.YearOfStudy == 2)
                    {
                        <label>(Current)</label>
                        FoundCurrent = true;
                    }
                </option>
            }

        @if (!FoundCurrent)
            @if (YearSelected == "3")
            {
                <option value="3" selected>
                    3rd Year @if (Model.YearOfStudy == 3)
                    {
                        <label>(Current)</label>
                        FoundCurrent = true;
                    }
                </option>
            }
            else
            {
                <option value="3">
                    3rd Year @if (Model.YearOfStudy == 3)
                    {
                        <label>(Current)</label>
                        FoundCurrent = true;
                    }
                </option>
            }

        @if (!FoundCurrent)
            @if (YearSelected == "4")
            {
                <option value="4" selected>
                    4th Year @if (Model.YearOfStudy == 4)
                    {
                        <label>(Current)</label>
                        FoundCurrent = true;
                    }
                </option>
            }
            else
            {
                <option value="4">
                    4th Year @if (Model.YearOfStudy == 4)
                    {
                        <label>(Current)</label>
                        FoundCurrent = true;
                    }
                </option>
            }
    </select>
</div>
<div id="div3" class="table-responsive">
    <table id="tblEducation">
        <thead>
            <tr>
                <th>
                    Teaching Placement (School Name)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @school.Name
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<hr />
<br />
<label class="h1">
    Gradings per Subject
</label>
@if (_role.Equals("Teacher"))
{
    <a asp-action="Create" asp-controller="Gradings" style="float: right;" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Add Grading
    </a>
}
<br />

<div id="div4" class="table-responsive">
<table id="tblGradings">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Topic
            </th>
            <th>
                Teacher
            </th>
            <th>
                Total
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
</table>

<div class="accordion" id="accordionExample">
    @{
        var first = true;
    }
    @foreach (var subject in subjects)
    {


        @if (first)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_@subject.Id">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@subject.Id" aria-expanded="true" aria-controls="collapse_@subject.Id">
                        @subject.Subject1
                    </button>
                </h2>
                <div id="collapse_@subject.Id" class="accordion-collapse collapse show" aria-labelledby="heading_@subject.Id" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table id="tblGradings">
                            <tbody>
                                @for (int i = 0; i < gradings.Count; i++)
                                {
                                    if (gradings[i].Subject.Equals(subject.Subject1))
                                    {
                                        <tr>
                                            <td>
                                                @gradings[i].Date.ToShortDateString()
                                            </td>
                                            <td>
                                                @gradings[i].Topic
                                            </td>
                                            <td>
                                                @teachers[i]
                                            </td>
                                            <td>
                                                @totals[i] / 80
                                            </td>
                                            <td>
                                                <a class="btn btn-success" asp-action="Details" asp-controller="Gradings" asp-route-id="@gradings[i].Number">
                                                    <i class="bi bi-info-circle"></i> Details
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            first = false;
        }
        else
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_@subject.Id">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@subject.Id" aria-expanded="false" aria-controls="collapse_@subject.Id">
                        @subject.Subject1
                    </button>
                </h2>
                <div id="collapse_@subject.Id" class="accordion-collapse collapse" aria-labelledby="heading_@subject.Id" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table id="tblGradings">
                            <tbody>
                                @for (int i = 0; i < gradings.Count; i++)
                                {
                                    if (gradings[i].Subject.Equals(subject.Subject1))
                                    {
                                        <tr>
                                            <td>
                                                @gradings[i].Date.ToShortDateString()
                                            </td>
                                            <td>
                                                @gradings[i].Topic
                                            </td>
                                            <td>
                                                @teachers[i]
                                            </td>
                                            <td>
                                                @totals[i] / 80
                                            </td>
                                            <td>
                                                <a class="btn btn-success" asp-action="Details" asp-controller="Gradings" asp-route-id="@gradings[i].Number">
                                                    <i class="bi bi-info-circle"></i> Details
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }
</div>

<br />

<br />
<br />
<br />


<style>
    main {
        width: 100% !important;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
    }

    #tblName th, #tblName td {
        width: 50%;
    }

    #tblNumber th, #tblNumber td {
        width: 50%;
    }

    #tblModules th, #tblModules td {
        width: 30%;
    }

    #tblGradings th, #tblGradings td {
        width: 20%;
    }

    table {
        width: 100%;
    }

        table thead tr {
            background-color: #084E62;
        }

        table th {
            padding: 1%;
            color: white;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
            background-color: #E9E9E9;
        }

        table tbody td {
            width: 25%;
            padding: 1%;
            color: black;
        }

    .accordion-body {
        padding: 0 !important;
    }


    /*Responive design*/
    @@media only screen and (max-width:2560px) {
        #btnDetails {
            margin-right: 2px !important;
        }

        #btnEdit {
            margin-right: 0px !important;
            margin-bottom: 5px !important;
        }
    }

    @@media only screen and (max-width:1440px) {
        #btnDetails {
            margin-right: 2px !important;
        }

        #btnEdit {
            margin-right: 0px !important;
            margin-bottom: 5px !important;
        }
    }

    @@media only screen and (max-width:1024px) {
        #btnDetails {
            margin-right: 2px !important;
        }

        #div1, #div2, #div3, #div4 {
            width: 100%;
        }

        #btnEdit {
            margin-right: 0px !important;
            margin-bottom: 5px !important;
        }
    }

    @@media only screen and (max-width:768px) {
        #btnEdit {
            margin-right: 0px !important;
            margin-bottom: 5px !important;
        }

        #div1, #div2, #div3, #div4 {
            width: 100%;
        }

            #div1 table th {
                min-width: 20vw !important;
            }
    }

    @@media only screen and (max-width:425px) {
        #div1 table th {
            min-width: 40vw !important;
        }

        





        #btnEdit {
            margin-right: 0px !important;
            margin-bottom: 5px !important;
        }
    }

    @@media only screen and (max-width:320px) {
        #divCampusses table th {
            min-width: 40vw !important;
        }
        /*#div1, #div2, #div3, #div4 {
                        width: 100%;
                    }*/

        a {
            width: 100px;
        }
    }

</style>


@*Getting Select Search Working*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.select2').each(function() {
                $(this).select2({
                    theme: "bootstrap-5",
                    width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
                    placeholder: $(this).data('placeholder'),
                    dropdownParent: $(this).parent(),
                });
            });
        });
    </script>
    <script>
        function YearSelected() {
            d = document.getElementById("YearOfStudy").value;
            currentUrl = window.location.href.split('?')[0];
            newUrl = currentUrl + "?year=" + d;
            window.location.href = newUrl;
        }
    </script>
}