@model IEnumerable<StudentTeacher.Models.Student>

@{
    ViewData["Title"] = "Index";

    List<School> schools = ViewBag.Schools;
}

<h1>
    Students
    <a id="btnAdd" asp-action="Create" style="float: right;" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Student</a>
</h1>

<div id="divStudents" class="table-responsive">
    <table id="studentTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    School
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Number" style="float: right; width: 100px;" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a id="btnDetails" asp-action="Details" asp-route-id="@item.Number" asp-route-year="@item.YearOfStudy" style="float: right; width: 100px; margin-right: 5px;" class="btn btn-primary"><i class="bi bi-info-circle"></i> Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    main {
        width: 100% !important;
        background-color: white;
        padding: 3%;
    }

    main {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
    }

    #tblName th, #tblName td {
        width: 50%;
    }

    #tblNumber th, #tblNumber td {
        width: 50%;
    }

    #tblModules th, #tblModules td {
        width: 30%;
    }

    #tblGradings th, #tblGradings td {
        width: 20%;
    }

    table {
        width: 100%;
    }

        table thead tr {
            background-color: #084E62;
        }

        table th {
            padding: 1%;
            color: white;
        }

        table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
            background-color: #E9E9E9;
        }

        table tbody td {
            width: 25%;
            padding: 1%;
            color: black;
        }

    /*Responive design*/

    @@media only screen and (max-width:1024px) {
        #btnDetails {
            margin-right: 2px !important;
        }
    }

    @@media only screen and (max-width:768px) {
        #btnDetails {
            margin-right: 0px !important;
            margin-top: 5px !important;
        }

        #divStudents table th {
            min-width: 20vw !important;
        }
    }

    @@media only screen and (max-width:425px) {
        #divStudents table th {
            min-width: 40vw !important;
        }

        #btnDetails {
            margin-right: 0px !important;
            margin-top: 5px !important;
        }
    }

    @@media only screen and (max-width:320px) {
        #divStudents table th {
            min-width: 40vw !important;
        }

        a {
            width: 100px;
        }

        #btnAdd {
            margin-right: 0px !important;
            margin-top: 5px !important;
        }

        #divStudents {
            margin-top: 50px;
        }
    }
</style>